/InputPrototype/nbproject/private/
/InputPrototype/build/
/InputPrototype/lib/
/csv/
/ParserPrototype/nbproject/private/
/ParserPrototype/build/
/fillDatabase/nbproject/private/
/fillDatabase/build/
/Login DB Connection Project 56/nbproject/private/
/Login DB Connection Project 56/build/
/ParserPrototype/dist/
/Parser/nbproject/private/
/Parser/build/
/Parser/dist/