<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="2097152000" executionTimeout="300"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2097152000" maxReceivedMessageSize="2097152000" maxBufferPoolSize="2097152000">
          <readerQuotas maxDepth="32" maxStringContentLength="2097152000"
            maxArrayLength="2097152000" maxBytesPerRead="2097152000" maxNameTableCharCount="2097152000"  />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="customBinding0" >
          <!-- Start change -->
          <httpTransport maxReceivedMessageSize="2097152000"
                         maxBufferSize="2097152000"
                         maxBufferPoolSize="2097152000"/>
          <!-- Stop change -->
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TestLargeWCF.Web.MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>   
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="TestLargeWCF.Web.MyServiceBehavior" name="WCF.Service1">
        <endpoint address=""
                 binding="customBinding"
                 bindingConfiguration="customBinding0"
                 contract="WCF.IService1"/>
        <endpoint address="mex"
                 binding="mexHttpBinding"
                 contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
